@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

#root {
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

body{
  background-color: white;
  color: black;
   min-height: 100vh; /* Makes sure the body is at least the height of the viewport */
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
}

li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center; /* Aligns children in the center of the container along the main axis */
  flex-wrap: wrap; /* Allows children to wrap as needed */
  align-items: flex-start; /* Aligns children to the start of the cross axis */
  margin: auto;
  position: relative;
  width: 100%; /* Ensures the container fills the width of its parent */
}

.mini-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 25px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  width: calc(100% / 4 - 50px); /* Example: divides the container into four equal parts with a gap of 50px */
  max-width: 250px; /* Adjust the maximum width as needed */
  margin: 25px; /* Gives space between the mini-containers */
}

.mini-header{
  height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(226, 195, 147);
  text-align: center;
  border-radius: 10px;
  width: 93%;
  margin: 0;
}

#wrong {
  background-color:rgb(219, 93, 93);
}

#correct {
  background-color:rgb(191, 116, 191);
}

.answer-space {
  background-color: rgb(226, 195, 147);
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  margin-left: auto;
  clear: both;
}

li {
  margin-top:3px;
  margin-bottom:3px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #FFFDD0;
  border-radius: 15px;
}

button.newdrink {
  width: auto;
  text-align: center;
}

.button {
  background-color: rgba(138, 98, 12, 0.942);
  font-weight: bold;
  color: white;
}

.title {
  display: inline-block;
  margin-bottom: 0;
}

.title-container {
  text-align: left;
  margin-bottom: 50px;
}

.drink-container {
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: center; /* Center button horizontally */
  width: 100%;
}

.textbox {
  width: 90%; /* Makes the text box full width of its parent container */
  padding: 5px; /* Adds some padding inside the text box */
  margin-right: 50px; /* Adds space between the text box and the list */
  border: 1px solid #ccc; /* Adds a border to the text box */
  border-radius: 2px; /* Rounds the corners of the text box */
}
